# Crop_Recommendation

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
import joblib

In [4]:
file_path='C://Users//benar//OneDrive//Desktop//ML Projects//crop recommendation//'
file_name='Crop_recommendation.csv'

In [5]:
df1=pd.read_csv(file_path+file_name)
df1.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
df1.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [7]:
def load_data(file_path,file_name):
    df=pd.read_csv(file_path+file_name)
    return df

In [8]:
def scaling(data):
    x=data.drop(columns='label')
    a=x.columns.tolist()
    y=data['label']
    
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
    scaler=StandardScaler().fit(x_train)
    x_scaled=scaler.transform(x_train)
    x_test_scaled=scaler.transform(x_test)
    x_scaled_df=pd.DataFrame(x_scaled,columns=a)
    x_test_scaled_df=pd.DataFrame(x_scaled,columns=a)
    
    return x_scaled,x_test_scaled,y_train,y_test,scaler

In [9]:
def model_train(x_train,y_train):
#     models={"Logistic Regression": LogisticRegression(max_iter=2000),
#         "Random Forest": RandomForestClassifier(),
#         "SVM": SVC(),
#         "KNN": KNeighborsClassifier()}
#     train_models={}
    
#     for name,model in models.items():
#         model.fit(x_train,y_train)
#         train_models[name]=model
    model=RandomForestClassifier(n_jobs=-1,random_state=42)
    train_model=model.fit(x_train,y_train)
    return train_model

In [10]:
def get_best_model(model, X_test, y_test):
#     best_model = None
#     best_acc = 0
#     best_name = ""
    
#     for name, model in models.items():
#         preds = model.predict(X_test)
#         acc = accuracy_score(y_test, preds)
#         print(f"{name} Accuracy: {acc*100:.2f}%")
        
#         if acc > best_acc:
#             best_acc = acc
#             best_model = model
#             best_name = name
    y_pred=model.predict(X_test)
    model_evaluation=accuracy_score(y_pred,y_test)
    
    print("Model:",model,"Accuracy:",model_evaluation)
    return model,model_evaluation

In [11]:
def predict_for_input(model,scaler,input_dict):
    df=pd.DataFrame([input_dict])
    scale=scaler.transform(df)
    prediction=model.predict(scale)[0]
    return prediction

In [12]:
df=load_data(file_path,file_name)

X_train, X_test, y_train, y_test, scaler =scaling(df)

model=model_train(X_train,y_train)
best_model,acc = get_best_model(model, X_test, y_test)

Model: RandomForestClassifier(n_jobs=-1, random_state=42) Accuracy: 0.9931818181818182

In [15]:
random_input = {
    "N": np.random.randint(0, 140),
    "P": np.random.randint(0, 140),
    "K": np.random.randint(0, 140),
    "temperature": round(np.random.uniform(10, 40), 2),
    "humidity": round(np.random.uniform(20, 100), 2),
    "ph": round(np.random.uniform(3, 10), 2),
    "rainfall": round(np.random.uniform(20, 300), 2)
}

print('random_input is:',random_input)

crop = predict_for_input(best_model, scaler, random_input)
print("\nBest Model Used:", best_model)
print("Predicted Crop:", crop)

random_input is: {'N': 97, 'P': 22, 'K': 60, 'temperature': 36.53, 'humidity': 84.51, 'ph': 7.44, 'rainfall': 172.76}

Best Model Used: RandomForestClassifier(n_jobs=-1, random_state=42)
Predicted Crop: watermelon

In [18]:
joblib.dump(best_model,'model.pkl')

['model.pkl']